In [40]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
from prettytable import PrettyTable

In [41]:
# Set timestamp for output file
def get_dt():
    dt_stamp = dt.datetime.now()
    dt_stamp = dt_stamp.strftime("%Y_%m_%d_%H%M%S")
    dt_stamp = str(dt_stamp).split(".")[0]
    return dt_stamp

In [42]:

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['LAUST010000000000003', 'LAUST0200000000000003','LAUST0400000000000003','LAUST0500000000000003','LAUST0600000000000003',
                                'LAUST0800000000000003','LAUST0900000000000003','LAUST1000000000000003','LAUST1200000000000003','LAUST5600000000000003',
                                'LAUST1300000000000003','LAUST1500000000000003','LAUST1600000000000003','LAUST1700000000000003','LAUST1800000000000003',
                                'LAUST1900000000000003','LAUST2000000000000003','LAUST2100000000000003','LAUST2200000000000003','LAUST2300000000000003',
                                'LAUST2400000000000003','LAUST2500000000000003','LAUST2600000000000003','LAUST2700000000000003','LAUST2800000000000003',
                                'LAUST2900000000000003','LAUST3000000000000003','LAUST3100000000000003','LAUST3200000000000003','LAUST3300000000000003',
                                'LAUST3400000000000003','LAUST3500000000000003','LAUST3600000000000003','LAUST3700000000000003','LAUST3800000000000003',
                                'LAUST3900000000000003','LAUST4000000000000003','LAUST4100000000000003','LAUST4200000000000003','LAUST4400000000000003',
                                'LAUST4500000000000003','LAUST4600000000000003','LAUST4700000000000003','LAUST4800000000000003','LAUST4900000000000003',
                                'LAUST5000000000000003','LAUST5100000000000003','LAUST5300000000000003','LAUST5400000000000003','LAUST5500000000000003'],
                                "startyear":"2012",
                                 "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers).json()

In [82]:
startyear = 2012
endyear = 2022
num_months = (endyear - startyear) * 12
req_num_seriesID = 50
print(num_months)

120

In [103]:
resp_dict = []
# message_dict = []
dict = []

status = p['status']
responseTime = p['responseTime']
return_num_seriesID = len(p['Results']['series'])
dataset = f'Only {return_num_seriesID} out of {req_num_seriesID} seriesID(s) are in the dataset. Check response message.'
resp_dict.append({
        'status': status,
        'responseTime': responseTime,
        'dataset': dataset
        })
# for l in range(len(p['message'])):
#     message = p['message'][l]
#     message_dict.append({
#         'row': l,
#         'message': message
#     })
resp_df = pd.DataFrame(resp_dict)
# message_df = pd.DataFrame(message_dict)

try:
    if return_num_seriesID == req_num_seriesID:
        print(f'All {return_num_seriesID} seriesID(s) are present.')
    else:
        print(f'Only {return_num_seriesID} out of {req_num_seriesID} seriesID(s) are in the dataset. Check response message.')

    for i in range(len(p['Results']['series'])):
        seriesID = p['Results']['series'][i]['seriesID']
        message = p['message'][l]
        data_records = len(p['Results']['series'][i]['data'])
        if data_records > 0:
            if data_records == num_months:
                print(f'Data complete for row {i} seriesID {seriesID} with {data_records} data setss.')
                for j in range(len(p['Results']['series'][i]['data'][0])):
                    year = p['Results']['series'][i]['data'][j]['year']
                    period = p['Results']['series'][i]['data'][j]['period']
                    periodName = p['Results']['series'][i]['data'][j]['periodName']
                    value = p['Results']['series'][i]['data'][j]['value']
                    dict.append({
                        'seriesID': seriesID,
                        'year': year,
                        'period': period,
                        'periodName': periodName,
                        'value': value,
                        'message': message                        
                        })
            else:
                print(f'Data partially complete for row {i} seriesID {seriesID} with {data_records} data sets.')
                for j in range(len(p['Results']['series'][i]['data'][0])):
                    year = p['Results']['series'][i]['data'][j]['year']
                    period = p['Results']['series'][i]['data'][j]['period']
                    periodName = p['Results']['series'][i]['data'][j]['periodName']
                    value = p['Results']['series'][i]['data'][j]['value']
                    dict.append({
                        'seriesID': seriesID,
                        'year': year,
                        'period': period,
                        'periodName': periodName,
                        'value': value,
                        'message': message                        
                        })
        else:
            print(f'No data for row {i} seriesID {seriesID} with {data_records} data sets.')
    df = pd.DataFrame(dict)
except IndexError as e:
    print(f'error: {e} \nrow: {i}')

Only 25 out of 50 seriesID(s) are in the dataset. Check response message.
Data complete for row 0 seriesID LAUST010000000000003 with 120 data setss.
No data for row 1 seriesID LAUST0200000000000003 with 0 data sets.
No data for row 2 seriesID LAUST0400000000000003 with 0 data sets.
No data for row 3 seriesID LAUST0500000000000003 with 0 data sets.
No data for row 4 seriesID LAUST0600000000000003 with 0 data sets.
No data for row 5 seriesID LAUST0800000000000003 with 0 data sets.
No data for row 6 seriesID LAUST0900000000000003 with 0 data sets.
No data for row 7 seriesID LAUST1000000000000003 with 0 data sets.
No data for row 8 seriesID LAUST1100000000000003 with 0 data sets.
No data for row 9 seriesID LAUST1200000000000003 with 0 data sets.
No data for row 10 seriesID LAUST1300000000000003 with 0 data sets.
No data for row 11 seriesID LAUST1500000000000003 with 0 data sets.
No data for row 12 seriesID LAUST1600000000000003 with 0 data sets.
No data for row 13 seriesID LAUST1700000000000003 with 0 data sets.
No data for row 14 seriesID LAUST1800000000000003 with 0 data sets.
No data for row 15 seriesID LAUST1900000000000003 with 0 data sets.
No data for row 16 seriesID LAUST2000000000000003 with 0 data sets.
No data for row 17 seriesID LAUST2100000000000003 with 0 data sets.
No data for row 18 seriesID LAUST2200000000000003 with 0 data sets.
No data for row 19 seriesID LAUST2300000000000003 with 0 data sets.
No data for row 20 seriesID LAUST2400000000000003 with 0 data sets.
No data for row 21 seriesID LAUST2500000000000003 with 0 data sets.
No data for row 22 seriesID LAUST2600000000000003 with 0 data sets.
No data for row 23 seriesID LAUST2700000000000003 with 0 data sets.
No data for row 24 seriesID LAUST2800000000000003 with 0 data sets.

In [104]:
print(resp_df)

              status  responseTime  \
0  REQUEST_SUCCEEDED          1168

                                             dataset
0  Only 25 out of 50 seriesID(s) are in the datas...

In [106]:
df

,seriesID,year,period,periodName,value,message
0,LAUST010000000000003,2021,M12,December,2.3,Series does not exist for Series LAUST28000000...
1,LAUST010000000000003,2021,M11,November,2.4,Series does not exist for Series LAUST28000000...
2,LAUST010000000000003,2021,M10,October,2.7,Series does not exist for Series LAUST28000000...
3,LAUST010000000000003,2021,M09,September,2.9,Series does not exist for Series LAUST28000000...
4,LAUST010000000000003,2021,M08,August,3.5,Series does not exist for Series LAUST28000000...

In [43]:
dict = []

status = p['status']
responseTime = p['responseTime']
message = p['message']

for i, row_series in enumerate(p['Results']['series']):
    seriesID = p['Results']['series'][i]['seriesID']
    print(f'i: {i}, seriesID: {seriesID}')

    for j, row_data in enumerate(p['Results']['series'][i]['data'][0]):
        year = p['Results']['series'][i]['data'][j]['year']
        period = p['Results']['series'][i]['data'][j]['period']
        periodName = p['Results']['series'][i]['data'][j]['periodName']
        value = p['Results']['series'][i]['data'][j]['value']
        dict.append({
        'status': status,
        'responseTime': responseTime,
        'message': message,
        'seriesID': seriesID,
        'year': year,
        'period': period,
        'periodName': periodName,
        'value': value
        })

df = pd.DataFrame(dict)

i: 0, seriesID: LAUST010000000000003
i: 1, seriesID: LAUST0200000000000003

IndexError: list index out of range

In [44]:
df

,status,responseTime,message,seriesID,year,period,periodName,value
0,REQUEST_SUCCEEDED,167,[],LAUST480000000000003,2022,M12,December,3.5
1,REQUEST_SUCCEEDED,167,[],LAUST480000000000003,2022,M11,November,3.7
2,REQUEST_SUCCEEDED,167,[],LAUST480000000000003,2022,M10,October,3.7
3,REQUEST_SUCCEEDED,167,[],LAUST480000000000003,2022,M09,September,3.7
4,REQUEST_SUCCEEDED,167,[],LAUST480000000000003,2022,M08,August,3.9

In [ ]:
# Output file
filename = 'C:/C_Drive/Bootcamp/ProjectData/output-%s.xlsx' % get_dt()
with pd.ExcelWriter(filename) as writer:
    output.to_excel(writer, sheet_name='data')